In [6]:
import pandas as pd

In [8]:
data = pd.read_excel("Seasonally Adjusted.xlsx",sheet_name = "LOWER_MAINLAND")
data

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,333400,463100,362900,536800,264900,202700
1,2005-02-01,100.4,100.2,100.6,100.1,100.4,100.7,334600,464200,364900,537200,265900,204200
2,2005-03-01,100.8,100.4,101.0,100.1,100.7,102.0,336100,464800,366500,537400,266700,206800
3,2005-04-01,101.1,100.6,101.3,100.3,101.2,102.7,337000,465800,367500,538300,268200,208100
4,2005-05-01,101.5,100.8,101.7,100.5,101.7,103.5,338400,466900,368900,539300,269300,209700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2023-09-01,345.7,393.3,390.3,374.0,371.3,355.1,1152600,1821500,1416400,2007600,983500,719700
225,2023-10-01,344.1,391.0,388.2,371.6,372.2,356.8,1147300,1810600,1408600,1994900,985900,723200
226,2023-11-01,342.5,390.0,384.8,371.9,371.3,356.1,1142000,1806000,1396400,1996400,983500,721900
227,2023-12-01,339.6,387.8,383.9,369.4,368.8,353.2,1132300,1795900,1393300,1983200,976900,716000
228,2024-01-01,335.4,383.0,382.9,364.7,365.6,348.9,1118300,1773800,1389600,1957600,968600,707300